@charset "UTF-8";
/* ======== Cores */
/* ======== Font */
/* ======== Outros */
/* ======== Background Color Opacity */
/* ======== Columns */
/* line 1, C:/Users/Yuji/Documents/Layout Site Portfólio/sass/atoms/_botao.sass */
.botao {
  border: 2px solid #000;
  color: #000;
  text-transform: uppercase;
  font-weight: 700;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }
  /* line 8, C:/Users/Yuji/Documents/Layout Site Portfólio/sass/atoms/_botao.sass */
  .botao:hover, .botao:focus {
    border-color: #31b1e7;
    color: #31b1e7; }

/* line 1, C:/Users/Yuji/Documents/Layout Site Portfólio/sass/molecules/_botoes.sass */
.pequeno {
  padding: 7px;
  font-size: 18px;
  font-size: 1.125rem; }

/* line 5, C:/Users/Yuji/Documents/Layout Site Portfólio/sass/molecules/_botoes.sass */
.medio {
  padding: 9px;
  font-size: 20px;
  font-size: 1.25rem; }

/* line 9, C:/Users/Yuji/Documents/Layout Site Portfólio/sass/molecules/_botoes.sass */
.grande {
  padding: 11px;
  font-size: 22px;
  font-size: 1.375rem; }

/* ======== Cores */
/* ======== Font */
/* ======== Outros */
/* ======== Background Color Opacity */
/* ======== Columns */
/* line 3, C:/Users/Yuji/Documents/Layout Site Portfólio/sass/molecules/_reset.sass */
body {
  font-family: Roboto, sans-serif !important;
  font-weight: 400;
  line-height: 1; }
  /* line 7, C:/Users/Yuji/Documents/Layout Site Portfólio/sass/molecules/_reset.sass */
  body strong {
    font-weight: 700; }

/* line 11, C:/Users/Yuji/Documents/Layout Site Portfólio/sass/molecules/_reset.sass */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  -webkit-font-smoothing: antialiased; }

/* line 19, C:/Users/Yuji/Documents/Layout Site Portfólio/sass/molecules/_reset.sass */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

/* line 22, C:/Users/Yuji/Documents/Layout Site Portfólio/sass/molecules/_reset.sass */
a {
  -moz-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear; }
  /* line 24, C:/Users/Yuji/Documents/Layout Site Portfólio/sass/molecules/_reset.sass */
  a:hover, a:focus {
    text-decoration: none !important;
    color: #31b1e7; }

/* line 30, C:/Users/Yuji/Documents/Layout Site Portfólio/sass/molecules/_reset.sass */
ol, ul {
  list-style: none; }

/* line 33, C:/Users/Yuji/Documents/Layout Site Portfólio/sass/molecules/_reset.sass */
blockquote, q {
  quotes: none; }

/* line 37, C:/Users/Yuji/Documents/Layout Site Portfólio/sass/molecules/_reset.sass */
blockquote:before, blockquote:after {
  content: '';
  content: none; }

/* line 42, C:/Users/Yuji/Documents/Layout Site Portfólio/sass/molecules/_reset.sass */
q:before, q:after {
  content: '';
  content: none; }

/* line 46, C:/Users/Yuji/Documents/Layout Site Portfólio/sass/molecules/_reset.sass */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 1, C:/Users/Yuji/Documents/Layout Site Portfólio/sass/organisms/_header.sass */
header {
  min-height: 420px;
  position: relative;
  margin-bottom: 30px; }
  /* line 14, C:/Users/Yuji/Documents/Layout Site Portfólio/bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins/_clearfix.scss */
  header:before, header:after {
    content: " ";
    display: table; }
  /* line 19, C:/Users/Yuji/Documents/Layout Site Portfólio/bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins/_clearfix.scss */
  header:after {
    clear: both; }
  /* line 7, C:/Users/Yuji/Documents/Layout Site Portfólio/sass/organisms/_header.sass */
  header:after {
    content: "";
    display: block;
    width: 100%;
    height: 33px;
    background-color: #31b1e7;
    position: absolute;
    bottom: 0; }
  /* line 16, C:/Users/Yuji/Documents/Layout Site Portfólio/sass/organisms/_header.sass */
  header .logo {
    float: left; }
    /* line 19, C:/Users/Yuji/Documents/Layout Site Portfólio/sass/organisms/_header.sass */
    header .logo img {
      width: 116px;
      height: 77px; }
  /* line 22, C:/Users/Yuji/Documents/Layout Site Portfólio/sass/organisms/_header.sass */
  header .logo {
    margin-top: 24px; }
  /* line 24, C:/Users/Yuji/Documents/Layout Site Portfólio/sass/organisms/_header.sass */
  header .links {
    margin-top: 65px; }
  /* line 26, C:/Users/Yuji/Documents/Layout Site Portfólio/sass/organisms/_header.sass */
  header .links {
    float: right; }
    /* line 29, C:/Users/Yuji/Documents/Layout Site Portfólio/sass/organisms/_header.sass */
    header .links nav,
    header .links .social {
      display: inline-block; }
    @media (max-width: 991px) {
      /* line 33, C:/Users/Yuji/Documents/Layout Site Portfólio/sass/organisms/_header.sass */
      header .links nav {
        display: none; } }
    @media (max-width: 440px) {
      /* line 33, C:/Users/Yuji/Documents/Layout Site Portfólio/sass/organisms/_header.sass */
      header .links nav {
        display: none; } }
    /* line 39, C:/Users/Yuji/Documents/Layout Site Portfólio/sass/organisms/_header.sass */
    header .links nav ul li {
      display: inline-block; }
      /* line 41, C:/Users/Yuji/Documents/Layout Site Portfólio/sass/organisms/_header.sass */
      header .links nav ul li a {
        color: white;
        text-transform: uppercase;
        margin-right: 25px; }
    /* line 46, C:/Users/Yuji/Documents/Layout Site Portfólio/sass/organisms/_header.sass */
    header .links .social li {
      display: inline-block; }
      /* line 48, C:/Users/Yuji/Documents/Layout Site Portfólio/sass/organisms/_header.sass */
      header .links .social li a {
        margin: 0 5px 0 0;
        color: white;
        display: block;
        border: 1px solid white;
        padding: 4px;
        width: 25px;
        height: 25px;
        text-align: center;
        -webkit-border-radius: 120px;
        -moz-border-radius: 120px;
        -ms-border-radius: 120px;
        border-radius: 120px; }
  /* line 58, C:/Users/Yuji/Documents/Layout Site Portfólio/sass/organisms/_header.sass */
  header h1 {
    clear: both;
    margin: 190px auto 30px auto !important;
    display: table;
    background-color: white;
    padding: 20px 32px 20px 32px;
    text-align: center; }
    @media (max-width: 991px) {
      /* line 58, C:/Users/Yuji/Documents/Layout Site Portfólio/sass/organisms/_header.sass */
      header h1 {
        padding: 20px 30px 20px 30px;
        font-size: 35px;
        font-size: 2.1875rem; } }
    @media (max-width: 440px) {
      /* line 58, C:/Users/Yuji/Documents/Layout Site Portfólio/sass/organisms/_header.sass */
      header h1 {
        padding: 20px 29px 20px 29px;
        font-size: 25px;
        font-size: 1.5625rem; } }
  /* line 74, C:/Users/Yuji/Documents/Layout Site Portfólio/sass/organisms/_header.sass */
  header h1,
  header p {
    color: #000;
    text-transform: uppercase;
    font-weight: 300; }

/* line 1, C:/Users/Yuji/Documents/Layout Site Portfólio/sass/organisms/_footer.sass */
footer {
  display: block;
  background-color: #363636;
  padding: 12px; }
  /* line 6, C:/Users/Yuji/Documents/Layout Site Portfólio/sass/organisms/_footer.sass */
  footer p {
    text-align: center;
    color: white; }
  /* line 11, C:/Users/Yuji/Documents/Layout Site Portfólio/sass/organisms/_footer.sass */
  footer .logo-footer img {
    width: 110px;
    height: 110px;
    display: block;
    margin: 35px auto; }

/*# sourceMappingURL=geral.css.map */